.tama{
    height: 30px;
    width:  30px;
    margin-left: 15px;
    
}

.flot{
    margin-top: 100px;
    
}

.cent{
    margin-left: 120px;
    margin-right: 110px;
}

.espD{
    margin-bottom: 200px;
}

.espT{
    margin-bottom: 50px;
}

.te{
    text-align: center;
  }