.de{
    padding-left: 20px;
    padding-right: 25px;
}

.de2{
    margin-top: 50px;
    margin-left: 64px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.de3{
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 30px;
}
